rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow create, update: if request.auth != null && request.auth.uid == userId;
      allow delete: if false;
    }
    match /batches/{batchId} {
      allow read: if true;
      allow create, update, delete: if true;
    }
    match /waybills/{waybillId} {
      allow read: if true;
      allow create, update, delete: if true;
    }
  }
}
